

/*清零*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var,i{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
a:focus{outline-style:none;}
a{text-decoration: none;color: #333;}

*{margin: 0;padding: 0;}
	@media screen and (min-width: 1921px){html{font-size: 120px;}}
	@media screen and (max-width: 1920px){html{font-size: 90px;}}
    @media screen and (max-width: 1640px){html{font-size: 90px;}}
    @media screen and (max-width: 1367px){html{font-size: 70px;}}
html{height: 100%;-webkit-font-smoothing: antialiased;
    font-family: 'Arial','PingFang SC','Microsoft YaHei';}
body{height: 100%;background: #ECE6DC;}
.mod-main{position: relative;height: 100%;}
.M-top{position: absolute;width: 100%;height: 50%;background: url(../images/testing_bg.png) center top; background-repeat: repeat-x;}
.mod-box{display: flex;width: 11.47rem;margin: 0 auto;position: relative;}
.iframe{width: 11.47rem;height: 9.9rem;margin: 0 auto;}

/*遮罩*/
.M-layer-black-bg{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, .5); z-index: 9;}
.M-layer{position: fixed; z-index: 12; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.M-layer .mod-data{display: block; font-size: 33px; color: #FFC500; margin-bottom: 0.21rem;text-align: center;}
.M-layer .mod-laybox{font-size: 0; margin-bottom: 0.36rem;}
.M-layer .mod-laybox span{ position: relative; display: inline-block; width:538px;height:4px;background:rgba(68,68,68,0.53);border-radius:2px;}
.M-layer .mod-laybox span em{position: absolute; left: 0; top: 0; height: 4px;background:rgba(255,197,0,1);border-radius:2px;}
.M-layer h4{text-align: center;font-size: 15px; color: #FFFAE9; font-weight: normal;}



