/*清零*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var,i{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
a:focus{outline-style:none;}
a{text-decoration: none;color: #333;}
/*a:hover{color: #333;}*/
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%; outline: none; /*to enable resizing for IE*/}
textarea{resize:none}
body{ overflow-x:hidden;color:#333;-webkit-font-smoothing: antialiased;}
::selection{background:#eb7350;color:#fff;}
:focus{outline-color:#eb7350;}
.clearfix{display: block;}
.clearfix:after{display: block; content: " "; height: 0; clear: both; overflow: hidden; visibility: hidden;}
/*清浮动*/
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display:inline-block; }
.clearfix { display:block; }
/*字符截取*/
.W-autocut{overflow: hidden;text-overflow: ellipsis;white-space: nowrap; word-wrap:normal;}